# Hello World

In [14]:
# printing my first message
print('hello world')

hello world

In [25]:
# jupyter auto prints the last line of code without calling the function
'hello world'

'hello world'

In [13]:
# this will output my name
print('Naz')

Naz

# Data Types

In [15]:
#integer - whole number (no decimals)
type(1)

int

In [16]:
#float - number with decimal
type(1.3)

float

In [19]:
#operations
1+(2-3)*(4/5)

0.19999999999999996

In [20]:
#boolean
type(True)

bool

In [22]:
#string - text
type('hello world')

str

In [26]:
#str method - function that must be called on an object
print('hello world'.upper())
print('Hello World'.lower())
print('hello world'.title())

HELLO WORLD
hello world
Hello World

In [27]:
#str method for counting characters in str
'Hello World'.count('l')

3

In [30]:
#str method for replacing characters in str
'Hello World'.replace('o','hi')

'Hellhi Whirld'

In [10]:
print('hello world')

hello world

# Variables

In [54]:
#assigning value to variable
message_1 = "I'm learning python"
message_2 = "and it's fun!"

In [55]:
#string concatenation
message = message_1 + ' ' + message_2
message

"I'm learning python and it's fun!"

In [56]:
#f string method for string concatenation
f'{message_1} {message_2}'

"I'm learning python and it's fun!"

# List

#lists to store multiple items in single variable
#mutable - can change their values

In [58]:
countries = ['Australia','United States','India','China']
countries

['Australia', 'United States', 'India', 'China']

In [61]:
#return index of list
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])

Australia
United States
India
China

In [64]:
#negative index - start from end of list
print(countries[-1])
print(countries[-4])

China
Australia

In [74]:
#slicing - take parts of lists
#list_name[start:stop], can omit first (0) and end see below

print(countries[1:3])
print(countries[0:1])
print(countries[:3])
print(countries[2:])

['United States', 'India']
['Australia']
['Australia', 'United States', 'India']
['India', 'China']

### Adding elements to a list

In [75]:
countries

['Australia', 'United States', 'India', 'China']

In [76]:
#add to end
countries.append('Canada')
countries

['Australia', 'United States', 'India', 'China', 'Canada']

In [96]:
#insert in a certain position
countries_1 = ['Australia','United States','India','China']
countries_1.insert(0,'Brazil')
countries_1

['Brazil', 'Australia', 'United States', 'India', 'China']

In [99]:
countries_2 = ['United Kingdom', 'Ukraine', 'Japan']
countries_1 + countries_2

['Brazil',
 'Australia',
 'United States',
 'India',
 'China',
 'United Kingdom',
 'Ukraine',
 'Japan']

In [101]:
#nested lists - lists as elements within a list
nested_list = [countries_1, countries_2]
nested_list

[['Brazil', 'Australia', 'United States', 'India', 'China'],
 ['United Kingdom', 'Ukraine', 'Japan']]

### Removing elements

In [112]:
countries = ['Australia','United States','India','China']
countries

['Australia', 'United States', 'India', 'China']

In [113]:
countries.remove('United States')
countries

['Australia', 'India', 'China']

In [114]:
#remove using index
countries.pop(0)

'Australia'

In [116]:
countries

['India', 'China']

In [117]:
del countries[0]
countries

['China']

### Sorting a list

In [119]:
numbers = [4, 3, 10, 7, 1, 2, 6]

In [120]:
numbers.sort()
numbers

[1, 2, 3, 4, 6, 7, 10]

In [126]:
numbers.sort(reverse=True)
print(numbers)

[10, 7, 6, 4, 3, 2, 1]

### Updating an element

In [127]:
numbers[0]=100

In [128]:
numbers

[100, 7, 6, 4, 3, 2, 1]

### Copying a list

In [134]:
countries = ['Australia','United States','India','China']
new_list = countries[:]
new_list

['Australia', 'United States', 'India', 'China']

In [137]:
new_list2 = countries.copy()
new_list2

['Australia', 'United States', 'India', 'China']

## Dictionary

In [149]:
# dict = {'key1':'value','key2':'value'}

In [150]:
my_data = {'name':'Naz','age':26}

In [151]:
my_data.keys()

dict_keys(['name', 'age'])

In [152]:
my_data.values()

dict_values(['Naz', 26])

In [153]:
my_data.items()

dict_items([('name', 'Naz'), ('age', 26)])

In [156]:
my_data['height'] = 1.7
my_data

{'name': 'Naz', 'age': 26, 'height': 1.7}

In [157]:
my_data.update({'height':1.9})
my_data

{'name': 'Naz', 'age': 26, 'height': 1.9}

### Copying a dictionary

In [158]:
new_dict = my_data.copy()
new_dict

{'name': 'Naz', 'age': 26, 'height': 1.9}

In [ ]:
# note
# if you copy like above it will work independently of the other variable

### Removing elements in dictionary

In [159]:
my_data.pop('name')

'Naz'

In [160]:
my_data

{'age': 26, 'height': 1.9}

In [163]:
my_data.update({'name':'Naz'})
my_data

{'age': 26, 'height': 1.9, 'name': 'Naz'}

In [164]:
del my_data['age']
my_data

{'height': 1.9, 'name': 'Naz'}

In [165]:
#delete everything
my_data.clear()
my_data

{}

## IF statements

In [ ]:
# if <condition>: --- is true
#    <code> --- will be executed
# elif <condition>: --- if above is false test this condition
#    <code> --- if true will execute
# ... --- can have more elifs
# else:
#    <code> --- executes if all above is false

In [172]:
age = 20

if age>=18:
    print('You are an adult')
elif age>=13:
    print('You are a teenager')
elif age<=3:
    print('You are a baby')
else:
    print('You are a child')

You are an adult

## For Loop

In [ ]:
# for <variable> in <list>: (an 'iterable')
#     <code>

In [173]:
countries

['Australia', 'United States', 'India', 'China']

In [178]:
# i variable created - index of loop
# country variable created - items in list
for i,country in enumerate(countries):
    print(i)
    print(country)

0
Australia
1
United States
2
India
3
China

In [181]:
# dict = {'key1':'value','key2':'value'}

my_data = {'name':'Naz','age':26}
my_data

{'name': 'Naz', 'age': 26}

In [182]:
for key, value in my_data.items():
    print(key)
    print(value)

name
Naz
age
26

## Defining a function

In [ ]:
# def function(<params>):
#     <code>
#     return <data>

In [183]:
def sum_values(a, b):
    x = a + b
    return x

In [186]:
sum_values(1,3)

4

### Python built-in functions

In [188]:
print(countries)
len(countries)

['Australia', 'United States', 'India', 'China']

4

In [189]:
max([10,69,1243,99,12439])

12439

In [190]:
min([10,69,1243,99,12439])

10

In [198]:
type(countries)

list

In [200]:
#iterating in a range
#first is 0, last is 10, going up by increment of 2
for i in range(0,10,2):
    print(i)

0
2
4
6
8

## Modules

In [ ]:
# module is file that contains python code
# e.g. classes, functions, variables, runnable code

### OS module

In [201]:
import os

In [202]:
# get current working directory
os.getcwd()

'/Users/nazmuspradhan/AnacondaProjects'

In [203]:
#get list directory - files in current folder
os.listdir()

['introduction.ipynb', '.ipynb_checkpoints']

In [204]:
# create a folder 
os.makedirs("New Folder")

In [205]:
os.listdir()

['introduction.ipynb', 'New Folder', '.ipynb_checkpoints']